@using CRMManagement.Common;
@using CRMManagement.Pages;
@using CRMManagement.Infrastructure;
@using CRMManagement.Entities.Contract;
@Html.AntiForgeryToken()
@model AbstractUsers
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .borred {
        border: 1px solid red !important;
    }

    @@media screen and (max-width: 600px) {
        .login .content {
            width: 90%;
            padding: 10px 10px 30px;
        }
    }

    .login .content .form-control {
        background: white !important;
    }

    .mt-element-step .step-thin .mt-step-number {
        font-size: 20px;
    }

    .mt-element-step .step-thin .mt-step-title {
        font-size: 18px;
    }

    .mt-element-step .step-thin .mt-step-content {
        font-size: 13px;
    }

    .control-label span {
        color: red;
    }

    .login .content {
        width: 80%;
    }

    .form-group label {
        text-align: right;
        margin: 10px 0px;
    }

    .form-group .col-md-5 {
        margin: 10px 0px;
    }

    @@media (min-width:320px) and (max-width:359px) {
        .bread {
            margin-top: 2rem;
        }
    }

    .mar {
        margin-top: 13px;
        margin-left: 11px;
    }
</style>
@if (ProjectSession.AdminRoleID == 1)
{
    <div class="page-content-wrapper right-side d-flex flex-column">
        <div class="page-content container-fluid pb-5 rightfix rightscroll">
            <div class="portlet-title" style="margin-bottom:20px;">
                <div class="caption font-dark">
                    <span class="caption-subject bold uppercase" style="font-size:14px">  @Html.ActionLink("Dashboard", "Index", "Dashboard") / @Html.ActionLink("Users", Actions.Index, Controllers.Users) / Manage User</span>
                </div>
                <div class="tools"></div>
            </div>
            @*<ul class="page-breadcrumb breadcrumb bread">
                <li>
                    <span class="active" style="font-weight:bold;color:#337ab7" href="#"> Manage User</span>
                </li>
            </ul>*@
            <!-- END PAGE BREADCRUMB -->
            <!-- BEGIN PAGE BASE CONTENT -->
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet light bordered">

                        <div class="portlet-body" id="divCartTable">
                            <div class="portlet-body" style="margin:20px;">
                                @using (Html.BeginForm(Actions.AddEditUsers, Controllers.Users, FormMethod.Post, new { id = "frmManageUsers", enctype = "multipart/form-data", @class = "Otplogin-form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.HiddenFor(model => model.Id)
                                    <div class="row">
                                        <div class="form-body row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="control-label col-md-4">Name<span>*</span></label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control form-control-solid placeholder-no-fix", @placeholder = "Enter Name" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="control-label col-md-4">Email <span>*</span></label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.EmailAddress, new { @class = "form-control form-control-solid placeholder-no-fix", @placeholder = "Enter Email", @type = "email" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="control-label col-md-4">Role<span>*</span></label>
                                                    <div class="col-md-8">
                                                        @Html.DropDownListFor(model => model.RoleId, (IEnumerable<SelectListItem>)ViewBag.Roles, "Select Role", new { @class = "mt-multiselect form-control select-cus", data_width = "100%", data_filter = "true", data_action_onchange = "true", data_height = "300" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="control-label col-md-4">Password <span>*</span></label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.Password, new { @class = "form-control form-control-solid placeholder-no-fix", @placeholder = "Enter Password" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <div class="col-md-4"></div>
                                                    <div class="col-md-8" style="text-align:right">
                                                        <a href="@Url.Action("Index", "Users")" class="btn btn-default" style="background:silver;">Cancel</a>
                                                        <button class="btn btn-primary">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
            <!-- END PAGE BASE CONTENT -->
        </div>
        <!-- END CONTENT BODY -->
    </div>
}
<!-- SCRIPT AND FORM VALIDATION -->
<script type="text/javascript">
    jQuery(document).ready(function () {
        FormValidation.init();
    });

    //Validation PaymentsDetails
    var FormValidation = function () {

        var handleValidation1 = function () {
            var form1 = $('#frmManageUsers');
            var error1 = $('.alert-danger', form1);
            form1.validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block help-block-error', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",  // validate all fields including form hidden input
                rules: {
                    UserName: {
                        required: true
                    },
                    EmailAddress: {
                        required: true,
                        email: true
                    },
                    BranchId: {
                        required: true
                    },
                    Password: {
                        required: true
                    },
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                errorPlacement: function (error, element) { // render error placement for each input type
                    var cont = $(element).parent('.input-group');
                    if (cont.size() > 0) {
                        cont.after(error);
                    } else {
                        element.after(error);
                    }
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    error1.hide();
                    $("#Id").val((atob($("#Id").val())));
                    $("#frmManageUsers").val((atob($("#frmManageUsers").val())));
                    form.submit();
                }
            });
        }

        return {
            //main function to initiate the module
            init: function () {
                handleValidation1();
            }
        };
    }();

</script>

