@using CRMManagement.Common;
@using CRMManagement.Pages;
@using CRMManagement.Infrastructure;
@using CRMManagement.Entities.Contract;
@Html.AntiForgeryToken()
@model AbstractCallLog
@{
    ViewBag.Title = "callLog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-content-wrapper right-side d-flex flex-column">
    <div class="custom_overlay"></div>
    <div class="page-content container-fluid pb-5 rightfix rightscroll">
        <div class="portlet-title" style="margin-bottom:20px;">
            <div class="caption font-dark">
                <span class="caption-subject bold uppercase" style="font-size:14px">  @Html.ActionLink("Dashboard", "Index", "Dashboard") / Call Log Report</span>
            </div>
            <div class="tools"></div>
        </div>
        <div class="tab-pane active" id="tab_1_1_1">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="form-body row mt-2">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2 col-sm-12" style="margin-top:5px;">
                                        @Html.TextBox("StartDate","", new { @class = "form-control form-control-solid placeholder-no-fix", @placeholder = "Select Start Date", @autocomplete = "off" })
                                    </div>
                                    <div class="col-md-2 col-sm-12" style="margin-top:5px;">
                                        @Html.TextBox("EndDate", "", new { @class = "form-control form-control-solid placeholder-no-fix", @placeholder = "Select End Date", @autocomplete = "off" })
                                    </div>
                                    <div class="col-md-2 col-sm-12 " style="text-align:right;margin-top:5px;">
                                        <button type="button" class="btn green si ri" onclick="TableDatatablesColreorder.init();">Filter</button>
                                        <button type="button" class="btn default si ri" onclick="clearfilter();" style="background-color:lightgray;">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<ul class="page-breadcrumb breadcrumb bread mt-4" style="margin-top:10px;">
                                <li>
                                    <span class="active" style="font-weight:bold;color:#337ab7" href="#">Opportunities Data</span>
                                </li>
                            </ul>*@
                        <div class="portlet-body mt-3" id="divOpportunitiesTable" style="margin-top:40px">
                            <table class="table table-striped table-bordered table-hover" id="OpportunitiesTable"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    jQuery(document).ready(function () {
        $('#StartDate').datetimepicker({
            useCurrent: false, //Important! See issue #1075
            format: 'YYYY/MM/DD',
            defaultDate: new Date(Date.now() - 365 * 3 * 24 * 60 * 60 * 1000)
        });
        $('#EndDate').datetimepicker({
            useCurrent: false, //Important! See issue #1075
            format: 'YYYY/MM/DD',
            defaultDate: new Date(Date.now() + 365 * 979 * 24 * 60 * 60 * 1000)
        });
        $("#StartDate").on("dp.change", function (e) {
            $('#EndDate').data("DateTimePicker").minDate(e.date);
        });
        $("#EndDate").on("dp.change", function (e) {
            $('#StartDate').data("DateTimePicker").maxDate(e.date);
        });
        
        if ("@ProjectSession.CallLogReportStartDate" != "") {
           $("#StartDate").val('@ProjectSession.CallLogReportStartDate');

        }
        if ("@ProjectSession.CallLogReportEndDate" != "") {
           $("#EndDate").val('@ProjectSession.CallLogReportEndDate');
        }
        TableDatatablesColreorder.init();
    });

    function clearfilter() {
        $("#StartDate").val("");
        $("#EndDate").val("");
        TableDatatablesColreorder.init();
    }
    var TableDatatablesColreorder = function () {

        var initTable1 = function () {
            var table = $('#OpportunitiesTable');

            var oTable = table.dataTable({
                "stateSave": true,
                "autoWidth": false,
                "paging": true,
                "scrollx": true,
                // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                "language": {
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },
                    "emptyTable": "No Data Found",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "No entries found",
                    "infoFiltered": "(filtered1 from _MAX_ total entries)",
                    "lengthMenu": "_MENU_ entries",
                    "search": "Search:",
                    "zeroRecords": "No matching records found"
                },
                "pageLength": 10,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    async: true,
                    url: '@Url.Action(Actions.BindCallLogReport, Controllers.Opportunities_Tasks, new { area =""})',
                    type: "post",
                    data: BuildSearchCriteria()
                },
                "columns": [
                    { "title": "Task Name", "data": "TaskName", "orderable": true },
                    { "title": "Call Log Type Name", "data": "CallLogTypeName", "orderable": true },
                    { "title": "Call Log Type Count", "data": "CallLogTypeCount", "orderable": true },
                ],
                // setup buttons extentension: http://datatables.net/extensions/buttons/
                "buttons": [],

                // setup responsive extension: http://datatables.net/extensions/responsive/
                responsive: true,

                "lengthMenu": [
                    [5, 10, 15, 20, 50, 100],
                    [5, 10, 15, 20, 50, 100]// change per page values here
                ],
                "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            });
        }

        return {

            //main function to initiate the module
            init: function () {
                if ($.fn.DataTable.isDataTable("#OpportunitiesTable")) {
                    $('#OpportunitiesTable').dataTable().fnDestroy();
                    $('#OpportunitiesTable').html('<table class="table table-striped" width="100%" id="OpportunitiesTable"></table>');
                }
                initTable1();
            }

        };

    }();


    function BuildSearchCriteria() {
        try {
            var param = {};
            param["StartDate"] = $("#StartDate").val();
            param["EndDate"] = $("#EndDate").val();
            return addRequestVerificationToken(param);
        }
        catch (e) { }
    }

    function onSuccess(responseText, statusText, xhr, $form) {
        if (responseText[0] == 0) {
            ShowMessageToastr(responseText[1], responseText[2], false);
            TableDatatablesColreorder.init();
        }
        else {
            ShowMessageToastr(responseText[1], responseText[2], false);
        }
    }

</script>

